<%- include("templates/head", {titulo: "Rock & EDM Festival"}) %> 

<body>

    <header class="header">
        <div class="contenedor contenido-header">
            <h1>Rock & EDM Festival</h1>
            <nav class="nevagacion-principal">
                <a href="">Line Up</a>            
                <a href="">Galeria</a>            
                <a href="">Boletos</a>            
            </nav>
        </div>
    </header>
    
    
</body>
</html>