<%- include("templates/head", {titulo: "Rock & EDM Festival"}) %> 

<body>

    <header class="header">
        <div class="contenedor contenido-header">
            <h1>Rock & EDM Festival</h1>
            <nav class="nevagacion-principal">
                <a href="404.ejs">Line Up</a>            
                <a href="">Galeria</a>            
                <a href="">Boletos</a>            
            </nav>
        </div>
    </header>
    <section class="video">
        <div class="overlay">
            <div class="contenedor contenido-video">
                <h2>
                    Rock & EDM Festival
                    <span>Julio 2021, Guadalajara México</span>
                </h2>
            </div>
        </div>
        <video autoplay muted loop>
            <source src="/video/concierto.mp4" type="video/mp4">
            <source src="/video/concierto.ogg" type="video/ogg">
            <source src="/video/concierto.webm" type="video/webm">
        </video>
    </section>

    <div class="contenedor contenido-presentacion">
        <img src="/img/imagen_vocalista.jpg" alt="imagen_vocalista">

        <div>
            <h3>Rock & EDM Festival</h3>

            <p class="fecha">Julio 2021 Guadalajara, México</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam minima ipsam nesciunt, voluptatem et incidunt ducimus at fuga labore cumque perspiciatis maiores natus explicabo nihil veritatis aspernatur. Dolores, excepturi rem! Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
    </div>

    <section class="lineup">
        <h3>Line Up</h3>

        <p class="dia">Viernes 21</p>
        <div class="escenarios-contenedor contenedor">
            <div class="escenario rock bg-amarillo">
                <p class="nombre-esenario">Esenario Rock & Metal</p>

                <ul class="calendario">
                    <li>24:00 | <span>Metalica</span> </li>
                    <li>22:00 | <span>Slipknot</span> </li>
                    <li>20:00 | <span>Linkin Park</span> </li>
                    <li>19:00 | <span>Queen</span> </li>
                    <li>18:00 | <span>SOAD</span> </li>
                    <li>17:00 | <span>Rammstein</span> </li>
                </ul>
            </div>

            <div class="escenario edm bg-verde">
                <p class="nombre-esenario">Escenario EDM</p>

                <ul class="calendario">
                    <li>24:00 | <span>Gorillaz</span> </li>
                    <li>22:00 | <span>Outkast</span> </li>
                    <li>20:00 | <span>Blur</span> </li>
                    <li>19:00 | <span>Blind Fool Love</span> </li>
                    <li>18:00 | <span>Simple plan</span> </li>
                    <li>17:00 | <span>Panic! At The Disco</span> </li>
                </ul>
            </div>
        </div>

        <p class="dia">Sábado 22</p>
        <div class="escenarios-contenedor contenedor">
            <div class="escenario rock bg-verde">
                <p class="nombre-esenario">Esenario Rock & Metal</p>

                <ul class="calendario">
                    <li>24:00 | <span>Metalica</span> </li>
                    <li>22:00 | <span>Slipknot</span> </li>
                    <li>20:00 | <span>Linkin Park</span> </li>
                    <li>19:00 | <span>Queen</span> </li>
                    <li>18:00 | <span>SOAD</span> </li>
                    <li>17:00 | <span>Rammstein</span> </li>
                </ul>
            </div>

            <div class="escenario edm bg-amarillo">
                <p class="nombre-esenario">Escenario EDM</p>

                <ul class="calendario">
                    <li>24:00 | <span>Gorillaz</span> </li>
                    <li>22:00 | <span>Outkast</span> </li>
                    <li>20:00 | <span>Blur</span> </li>
                    <li>19:00 | <span>Blind Fool Love</span> </li>
                    <li>18:00 | <span>Simple plan</span> </li>
                    <li>17:00 | <span>Panic! At The Disco</span> </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="galeria contenedor">
        <h3>Galeria</h3>
        <ul class="galeria-imagenes"></ul>
    </section>

    <script src="/js/bundle.js"></script>   
    
</body>
</html>