<%- include("templates/head", {titulo: "Rock & EDM Festival"}) %> 

<body>

    <header class="header">
        <div class="contenedor contenido-header">
            <h1>Rock & EDM Festival</h1>
            <nav class="nevagacion-principal">
                <a href="404.ejs">Line Up</a>            
                <a href="">Galeria</a>            
                <a href="">Boletos</a>            
            </nav>
        </div>
    </header>
    <section class="video">
        <div class="overlay">
            <div class="contenedor contenido-video">
                <h2>
                    Rock & EDM Festival
                    <span>Julio 2021, Guadalajara México</span>
                </h2>
            </div>
        </div>
        <video autoplay muted loop>
            <source src="/video/concierto.mp4" type="video/mp4">
            <source src="/video/concierto.ogg" type="video/ogg">
            <source src="/video/concierto.webm" type="video/webm">
        </video>
    </section>

    <seccion >
        <div class="contenedor contenido-presentacion">
            <img src="/img/imagen_vocalista.jpg" alt="imagen_vocalista">

            <div>
                <h3>Rock & EDM Festival</h3>

                <p class="fecha">Julio 2021 Guadalajara, México</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam minima ipsam nesciunt, voluptatem et incidunt ducimus at fuga labore cumque perspiciatis maiores natus explicabo nihil veritatis aspernatur. Dolores, excepturi rem! Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
        </div>
    </seccion>
    
    
</body>
</html>