<%- include("templates/head", {titulo: "Rock & EDM Festival"}) %> 

<body>

    <header class="header">
        <div class="contenedor contenido-header">
            <h1>Rock & EDM Festival</h1>
            <nav class="nevagacion-principal">
                <a href="404.ejs">Line Up</a>            
                <a href="">Galeria</a>            
                <a href="">Boletos</a>            
            </nav>
        </div>
    </header>
    <div class="video">
        <div class="overlay">
            <div class="contenedor contenido-video">
                <h2>
                    Rock & EDM Festival
                    <span>Julio 2021, Guadalajara México</span>
                </h2>
            </div>
        </div>
        <video autoplay muted loop>
            <source src="/video/concierto.mp4" type="video/mp4">
            <source src="/video/concierto.ogg" type="video/ogg">
            <source src="/video/concierto.webm" type="video/webm">
        </video>
    </div>
    
    
</body>
</html>