.header {
    background-color: $verde;
    .contenido-header {
        padding: 1rem 0;
        text-align: center;
        
        @include tablet {
            padding: $separacion / 2 0;
            display:  flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    h1 {
            font-weight: $bold;
            color: $blanco;
            margin-bottom: 1rem;
        
        @include tablet {
            margin-bottom: 0;
        }
        @include telefono {
            font-size: 4rem;
        }
        
    }
    &.fijo {
        position: fixed;
        width: 100%;
        box-shadow:0 .3rem .4rem #444;
    }
}
.nevagacion-principal {
    @include grid(3,2);//Mixing de grid
    column-gap: 2rem;
    
    a {
        color: $blanco;
        font-size: 2rem;
        font-weight: $bold;
        &:hover {
            color: $amarillo;
        }
    }
    
}